.cabecera__container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
}
.cabecera__buscar__item{
    display: none;
}
.rodapie__container{
    display: flex;
    /*flex-direction: column;
    flex-wrap: wrap;*/
    flex-flow: column wrap; /*coloca los elementos en columnas*/
}
.menu__container{
    position: fixed;/*Fijar en la posicion deseada*/
    bottom: 0%;
    height: 75px;
    width: 100%;

}
.menu__lista{
    display: flex;
    justify-content: space-around;
    height: 100%;
}
.menu__lista li{
    align-self: center;

}
.menu__itens{/*coloca el texto debajo del icono*/
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.menu__lista:nth-child(2), .menu__lista:nth-child(3), .menu__lista:nth-child(4){
    display: none;
}/*ocultar elementos con seudo clases*/

.superior__seccion__container{
    display: flex;
    align-items: center;
    white-space: nowrap;
    overflow: scroll;
    gap: 15px;/*agrega espacios entre elementos*/
}

@media (min-width:834px){ 
    .cabecera__buscar__item{
        display: block;
    }
    .rodapie__container{
       justify-content: space-between; 
    }
    .menu__container{
        position: fixed;
        left: 0%;
        width: 74px;
        height: 100%;
    }
    .menu__lista{
        display: block;    
    }
}

